body {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    font-family: 'Arial';
    color: #3d3d3d;
    size: 16px;
}

.table2 {
    border-spacing: 1 20px;
}

.box1 {
    text-align: center;
    background-color: darkred;
}

.box2 {
    text-align: center;
    background-color: deeppink;
}

.box3 {
    text-align: center;
    background-color: brown;
}

.box-text-color {
    color: white !important; /*to override p color*/
    padding: 20px;
    margin: 0;
}
.box-text-color a {
    color: inherit;
}

.td_image_cell {
    width: 570px;
}
.td_image_cell img {
    width: 100%;
    height: 100%;
    display: block;
}
