body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.table2 {
    border-spacing: 1 20px;
}

.box1 {
    text-align: center;
}

.box2 {
    text-align: center;
}

.box3 {
    text-align: center;
}