.container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.navbar {
    display: flex;
    background-color: #333;
    padding: 15px;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px
}